<div class="my-slider">
    <div><img src="/img/unor.png" alt="universidad de orinente"></div>
    <div><img src="/img/reincrevi.png" alt="red de creadores"></div>
    <div><img src="/img/canacine.png" alt="canacine"></div>
    <div><img src="/img/iman.png" alt="iman"></div>
    <div><img src="/img/bienes.png" alt="bienes"></div>
    <div><img src="/img/arbol.png" alt="bienes"></div>
</div>

<style>
    body{
        background: #fff !important;
    }
    #banner{
        height: 125vh;
    }
    .box.special{
    }
    .my-slider {
        width: 75vw;
        margin: auto;
    }

    .my-slider img {
        margin: auto;
    }

    @media only screen and (max-width: 720px) {
        .my-slider img {
            width: 75vw;
        }
    }

    @media screen and (max-width: 480px) {
        #cta {
            margin-top: 5rem;
        }
</style>

<script>

</script>