<section class="seccion-precios">
    <div class="img-wrapper"></div>
    <div class="edades">
        <p>Edades: 8 a 12 años y 13 a 16 años</p>
    </div>
    <div class="duracion">
        <p>Duración: 5 semanas (125 hrs) de Lunes a Viernes de 9am a 2pm</p>
    </div>
    <div class="inversion">
        <p>Inversión: <b>$8,950.00 más IVA</b> (Incluye ,ateriales para el curso, diplomas y DVD con la copia del
            cortometraje para cada uno de los niños participantes, edicion No lineal, Iluminacion y postprocucción del
            cortometraje)</p>
    </div>
    <div class="lugar">
        <p>Lugar: Salas de Cine de arte del CCU BUAP (Av. Atlixcayotl 22999. Puebla, Pue. C.P. 72810), Universidad de
            Oriente y Arboterra</p>
    </div>
    <div class="fecha-de-inicio">
        <p>Fecha de inicio: <b>Lunes 15 de julio de 2019</b> en la <b>Universidad de Oriente </b>Avenida 21 Oriente
            1816, Col. Azcarate, 72501 Puebla, Pue.</p>
    </div>
    <div class="preventa">
        <div class="half">
            Preventa:
            <ul>
                <li>Antes del 31 de Mayo. <b>$6,500.00</b></li>
                <li>Antes del 15 de Junio. <b>$7,500.00</b></li>
                <li>Antes del 15 de Julio. <b>$8,500.00</b></li>
            </ul>
        </div>
        <div class="half"><img src="/img/top-cartoon.png" alt="" class="animated bounce delay-2s"></div>
    </div>
    <div class="pago">
        <p>Facilidades de Pago:<br>Puedes apartar tu lugar con <b>$1,000.00</b> e ir pagando hasta antes de la fecha
            limite del descuento para liquidar su saldo restante y respetando su promoción</p>
    </div>
    <div class="informes">
        <p><b>INFORMES Y RESERVACIONES por celular o whatssapp <a
                    href="https://wa.me/5212224333243">2224.333.143</a></b></p>
    </div>
    <div class="reserva">
        <p>Reserva el lugar depositando en el Oxxo o en Banamex a la tarjeta no. <b>5204 1654 4738 3591</b> y envia tu
            ficha de deposito con el nombre de el niñ@ que inscribes por whatssapp, por inbox en FB de <a
                href="https://www.facebook.com/CineninosMx/">cineninos.mx</a> o al correo: <a
                href="mail:informes@cineninos.mx">informes@cineninos.mx</a>, si quieres factura comunícate con nosotros
            y solicita la cuenta para depositar con Factura, por favor. Gracias</p>
    </div>
</section>

<style>
    .seccion-precios {
        background: #8881ff2e;
        padding: 7rem;
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }

    .preventa{
        display: flex;
    }

    .half{
        width: 48%;
    }

    .preventa img {
        width: 57%;
        height: 100%;
        padding: 0 0 4rem 0;
    }

    .img-wrapper {
        display: flex;
        position: absolute;
        width: 20%;
        right: 0;
    }

    @media only screen and (max-width:770px){
        .seccion-precios {
            padding: 2rem;
        }
        .preventa img {
            width: 123%;
            height: 80%;
            padding: 0 0 4rem 0;
        }
    }
</style>